search --set=root --file /%DISTRO_UNAME%

insmod all_video

set default="0"
set timeout=-1

menuentry "%DISTRO_NAME% (Japanese - JP keyboard)" {
   linux /live/vmlinuz boot=live nopersistent toram quiet splash --- locales=ja_JP.UTF-8 keyooard-layouts=jp
   initrd /live/initrd
}

menuentry "%DISTRO_NAME% (Japanese - US keyboard)" {
   linux /live/vmlinuz boot=live nopersistent toram quiet splash --- locales=ja_JP.UTF-8
   initrd /live/initrd
}

menuentry "%DISTRO_NAME% (English)" {
   linux /live/vmlinuz boot=live nopersistent toram quiet splash ---
   initrd /live/initrd
}

menuentry "Check disc for defects" {
   linux /live/vmlinuz boot=live integrity-check quiet splash ---
   initrd /live/initrd
}
